.orange {
    color: orange;
}
.ocre {
    color:#d23100;
}
.bleu {
color: #34e;
}
.rgb1 {
    color: rgb(120,0,120);
}
.hsl1 {
    color: hsl(315, 73.3%, 47%);
}
.fondnoir {
    color: white;
    background-color: black;
}
.fondrouge {
    background-color: red;
}
.rgbopacite {
    background-color: rgb(214, 15, 15, 0.5);
}
.hslopacite {
    background-color: hsla(0, 100%, 50%, 0.5);
}
.opaciteprop {
    opacity: 0.5;
    color:hsla(0, 0%, 21%, 0.5); 
    background-color: hsla(0, 100%, 50%, 0.5);
    
}